<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
      <h2>Play Rock Paper Scissors</h2>
      <form class="" action="/rpsResult" method="post">
        <label for="">Player 1:</label>
        <input type="text" name="player1" value="">
        <label for="">Player 2:</label>
        <input type="text" name="player2" value="">
        <button type="submit" name="button">Play</button>
      </form>
      <form class="" action="/findAndReplace" method="post">
        <label for="">Enter a Sentence:</label>
        <input type="text" name="input_sentence" value="">
        <label for="">Search for a string in sentence:</label>
        <input type="text" name="input_search_string" value="">
        <label for="">Enter Replacement:</label>
        <input type="text" name="input_replacement" value="">
        <button type="submit" name="button">Submit</button>
      </form>
  </body>
</html>
